$white-color: #fff;
$title-color: #1F2261;
$small-title-color: #989898;
$text-color: #808080;
$blue-color: #26278D;
$input-background-color: #EFEFEF;
$black-color: #000;
$rate-title-color: #9B9B9B;
$input-text-color: #3C3C3C;
