@import "../../styles/variables.scss";

.flagImage {
  width: 45px;
  height: 45px;
  margin-right: 13px;
}

.container {
  display: flex;
  align-items: center;
}

.input {
  width: 141px;
  height: 45px;
  padding: 11px 14px;
  flex-shrink: 0;
  border-radius: 7px;
  background-color: $input-background-color;
  border-width: 0;

  text-align: right;
  font-size: 20px;
  font-weight: 600;
  color: $input-text-color;

  &:focus {
    outline: 1px solid rgba(137, 137, 244, 0.5);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}